@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen;
}

p {
    @apply font-sans;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s;
}
.slide-left-enter-from {
    opacity: 0;
    transform: translate(0px, 0);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translate(0px, 0);
}
.slide-right-enter-from {
    opacity: 0;
    transform: translate(100px, 0);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translate(0px, 0);
}


/* Shared CSS */
.dev-flex-middle {
    @apply flex flex-col items-center justify-center;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}